<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.lpsp.notebook.note.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.lpsp.notebook.note.model.Feedback" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NF_USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="NF_CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="NF_CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>