.index-scss {
  font-family: "Microsoft YaHei";
  background: #fff;
  .search-item {
    .search-btn {
      background: #1ea9ee;
      &:hover {
        background: #19a6ec;
      }
    }
  }
  .top-menu {
    position: static;
    background: none;
    background: #fff;
    .login-list {
      .login-after {
        .user-name {
          color: #333;
        }
      }
    }
    .login-btn {
      color: #000;
      &:hover {
        color: #1989fa;
      }
      &:last-child {
        background: #1989fa;
        color: #fff;
      }
    }
    .menu-list {

      li {
        a {
          color: #333;
          &:hover {
            color: #1989fa;
          }
        }
      }
      .line-item {
        background: #ababab;
      }
    }
  }
  .banner-bg {
    height: 500px;
    margin-bottom: 80px;
    background: #1a85ba url(/img/banner.png) no-repeat center top;
    .search-bar {
      padding-top: 150px;
    }
  }
  .info-box {
    position: relative;
    padding-bottom: 300px;
    dl {
      float: left;
      width: 300px;
      padding-bottom: 70px;
      border-right: 1px dotted #a6c8f3;
      &:first-child {
        margin-left: 50px;
      }
      &:last-child {
        border-right: none;
      }
      dt {
        font-size: 18px;
        color: #000;
        line-height: 34px;
        text-indent: 20px;
        i {
          display: inline-block;
          margin-left: 4px;
          width: 26px;
          height: 16px;
          vertical-align: -1px;
        }
        .new-icon {
          background: url(/img/notebook-sprite.png) no-repeat -176px -296px;
        }
        .hot-icon {
          background: url(/img/notebook-sprite.png) no-repeat -125px -296px;
        }
        .recommend-icon {
          background: url(/img/notebook-sprite.png) no-repeat -221px -296px;
        }
      }
      dd {
        position: relative;
        padding-left: 26px;
        font-size: 14px;
        line-height: 26px;
        overflow: hidden;
        a {
          float: left;
          width: 270px;
          color: #999;
          &:hover {
            color: #398dee;
          }
        }
        em {
          position: absolute;
          top: 13px;
          left: 20px;
          width: 2px;
          height: 2px;
          background: #999;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
        }
      }
    }
  }
}
.top-banner{
  background: url("/img/banner-bg.png") no-repeat 0 0;
  position: relative;
  overflow: hidden;
  a{
    display: block;
    text-align: center;
    span{
      font-size: 23px;
      color: #fff;
      line-height: 60px;
    }
    strong{
      color: #ECECEC;
      font-size: 20px;
    }
    img{
      height: 50px;
      vertical-align: -13px;
      margin-right: 5px;
    }
  }
  .banner-close{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    right: 0px;
    font-size: 27px;
    cursor: pointer;
    color: #F4F4F4;
  }

  &.hide{
    animation: hideanimation .6s ease-in;
    animation-fill-mode:forwards;
  }
}

@-webkit-keyframes hideanimation{
  from {
    height: 60px;
  }

  to {
    height: 0px;
  }
}